[submodule "common"]
	path = common
	url = git@team.mobiata.com:Android/AndroidCommon.git
[submodule "lib/Utils"]
	path = lib/Utils
	url = git@team.mobiata.com:Android/AndroidUtils.git
[submodule "lib/OpinionLab"]
	path = lib/OpinionLab
	url = git@team.mobiata.com:Android/OpinionLab.git
[submodule "lib/Hockey"]
	path = lib/Hockey
	url = git@team.mobiata.com:Android/HockeySdk
[submodule "lib/FlightLib"]
	path = lib/FlightLib
	url = git@team.mobiata.com:Android/FlightLib.git
[submodule "lib/ActionBarSherlock"]
	path = lib/ActionBarSherlock
	url = git@team.mobiata.com:Android/ActionBarSherlock
