<manifest package="com.expedia.bookings"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <!-- Account Manager -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />

    <!-- For Google Wallet and GCM -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- For Google Wallet -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- For Maps V2 -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- For Push Notifications (GCM) -->

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.expedia.bookings.activity.ExpediaBookingApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/launcher_name"
        android:theme="@style/Theme"
        tools:replace="android:allowBackup">

        <!-- ActiveAndroid -->
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="13" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.expedia.bookings.model.Search,com.expedia.bookings.model.DismissedItinButton,com.expedia.bookings.notification.Notification" />

        <!-- Google Maps -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/mapsv2_key" />

        <!-- Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Crashlytics -->
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="045825b17e2b00aa0dde8ba0dcea1ad63801d612" />

        <!-- Make sure activity uses full path, i.e. com.expedia.bookings.activity.* -->

        <!-- Our main launcher activity -->

        <activity
            android:name="com.expedia.bookings.activity.RouterActivity"
            android:exported="true"
            android:resizeableActivity="false"
            android:theme="@style/SplashTheme"
            tools:ignore="UnusedAttribute" />
        <activity-alias
            android:name="com.expedia.bookings.activity.SearchActivity"
            android:targetActivity="com.expedia.bookings.activity.RouterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.expedia.bookings.onboarding.activity.OnboardingActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewLaunchTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="UnusedAttribute" />

        <!-- Phone New launch -->

        <activity
            android:name="com.expedia.bookings.launch.activity.NewPhoneLaunchActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewLaunchTheme.Light"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="UnusedAttribute" />

        <!-- Itineraries -->

        <activity
            android:name="com.expedia.bookings.activity.TerminalMapActivity"
            android:label="@string/Terminal_Map"
            android:resizeableActivity="false"
            android:theme="@style/Material.WebView.Theme"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name="com.expedia.bookings.activity.StandaloneShareActivity"
            android:resizeableActivity="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name="com.expedia.bookings.activity.FacebookShareActivity"
            android:icon="@drawable/ic_share_facebook"
            android:label="@string/Facebook"
            android:resizeableActivity="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:ignore="UnusedAttribute" />
        <activity android:name="com.expedia.ui.GalleryActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hotels.Default.Crystal"
            tools:ignore="UnusedAttribute" />

        <activity
            android:name="com.expedia.bookings.itin.activity.HotelItinDetailsActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:theme="@style/ItinTheme"
            tools:ignore="UnusedAttribute"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.expedia.bookings.itin.activity.HotelItinManageBookingActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:theme="@style/ItinTheme"
            tools:ignore="UnusedAttribute" />

        <activity
            android:name="com.expedia.bookings.itin.activity.NewAddGuestItinActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/AddGuestItinTheme"
            tools:ignore="UnusedAttribute" />

        <!-- Hotels activities -->
        <activity
            android:name="com.expedia.bookings.activity.HotelRulesActivity"
            android:label="@string/legal_information"
            android:resizeableActivity="false"
            android:theme="@style/Theme.Phone.Rules"
            tools:ignore="UnusedAttribute" />

        <!-- Flights activities -->
        <activity
            android:name="com.expedia.bookings.activity.FlightAndPackagesRulesActivity"
            android:label="@string/legal_information"
            android:theme="@style/Material.WebView.Theme"
            android:resizeableActivity="false"
            tools:ignore="UnusedAttribute" />

        <activity
            android:name="com.expedia.bookings.activity.AccountLibActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:theme="@style/Theme.AccountLib"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="UnusedAttribute" />

        <activity
            android:name="com.expedia.bookings.mia.activity.MemberDealActivity"
            android:label="Member Deals"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Rail"
            tools:ignore="UnusedAttribute"/>

        <activity
            android:name="com.expedia.ui.RailWebViewActivity"
            android:resizeableActivity="false"
            tools:ignore="UnusedAttribute" />

        <!-- Cars activity -->

        <activity
            android:name="com.expedia.ui.CarActivity"
            android:label="Cars"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:taskAffinity="com.expedia.bookings.activity.CarActivity"
            android:theme="@style/V2.Theme.Cars"
            tools:ignore="UnusedAttribute" />

        <activity
            android:name="com.expedia.ui.CarWebViewActivity"
            android:resizeableActivity="false"
            tools:ignore="UnusedAttribute" />

        <!-- LX activity -->

        <activity
            android:name=".lob.lx.ui.activity.LXBaseActivity"
            android:label="Activities"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:taskAffinity="com.expedia.bookings.activity.LXBaseActivity"
            android:theme="@style/V2.Theme.LX"
            tools:ignore="UnusedAttribute" />

        <!-- New Hotel activity -->
        <activity
            android:name="com.expedia.ui.HotelActivity"
            android:label="Hotels"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:taskAffinity="com.expedia.bookings.ui.HotelActivity"
            android:theme="@style/Theme.Hotels.Default"
            tools:ignore="UnusedAttribute" />

        <activity
            android:name="com.expedia.bookings.rail.activity.RailActivity"
            android:label="Trains"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:taskAffinity="com.expedia.ui.RailActivity"
            android:theme="@style/Theme.Rail"
            tools:ignore="UnusedAttribute"/>

        <activity
            android:name="com.expedia.ui.FlightActivity"
            android:label="Flights"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="com.expedia.ui.FlightActivity"
            android:theme="@style/V2.Theme.Packages" />

        <!-- Packages -->

        <activity
            android:name="com.expedia.ui.PackageActivity"
            android:label="Packages"
            android:screenOrientation="portrait"
            android:taskAffinity="com.expedia.ui.PackageActivity"
            android:launchMode="singleTop"
            android:theme="@style/V2.Theme.Packages" />

        <activity
            android:name="com.expedia.ui.PackageHotelActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/V2.Theme.Packages"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.expedia.ui.PackageFlightActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/V2.Theme.Packages" />

        <!-- About/Preferences/WebView activities -->

        <activity
            android:name="com.expedia.bookings.activity.WebViewActivity"
            android:resizeableActivity="false"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name="com.expedia.bookings.activity.OpenSourceLicenseWebViewActivity"
            android:resizeableActivity="false"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name="com.expedia.bookings.activity.AboutWebViewActivity"
            android:resizeableActivity="false"
            tools:ignore="UnusedAttribute" />

        <!-- Login/Facebook activities -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:resizeableActivity="false"
            android:theme="@style/com_facebook_activity_theme"
            tools:ignore="UnusedAttribute" />

        <activity
            android:name="com.expedia.bookings.activity.RestrictedProfileActivity"
            android:resizeableActivity="false"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="UnusedAttribute" />

        <!-- Notifications -->

        <receiver
            android:name="com.expedia.bookings.notification.NotificationReceiver"
            android:exported="false" />

        <!-- Push Notifications -->

        <service android:name="com.expedia.bookings.notification.GCMIntentService" />

        <receiver
            android:name="com.expedia.bookings.notification.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- Search autocomplete components -->

        <provider
            android:name="com.expedia.bookings.content.AutocompleteProvider"
            android:authorities="@string/authority_autocomplete_hotel"
            android:exported="false" />
        <provider
            android:name="com.expedia.bookings.content.AirportAutocompleteProvider"
            android:authorities="@string/authority_autocomplete_airport"
            android:exported="false" />
        <provider
            android:name="com.expedia.bookings.content.SuggestionProvider"
            android:authorities="@string/authority_autocomplete_suggestions"
            android:exported="false" />

        <!-- Tracking -->

        <!-- Google Play Campaign Tracking -->
        <!-- Note: Only the first defined INSTALL_REFERRER BroadcastReceiver receives the Broadcast from the system -->
        <!-- InstallReceiver then broadcasts the message again to reach the other BroadcastReceivers -->

        <receiver
            android:name="com.expedia.bookings.tracking.InstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- Account Manager -->

        <service android:name="com.expedia.bookings.account.ExpediaAuthenticatationService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/expedia_authenticator" />
        </service>
        <service android:name="com.expedia.bookings.account.AccountSyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/account_sync_adapter" />
        </service>

        <provider
            android:name="com.expedia.bookings.account.AccountSyncContentProvider"
            android:authorities="@string/authority_account_sync"
            android:exported="false" />

        <receiver android:name="com.expedia.bookings.itin.ItinShareTargetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.extra.CHOSEN_COMPONENT" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.expedia.bookings.widget.flights.FlightConfirmationShareBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.extra.CHOSEN_COMPONENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
