<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.expedia.bookings" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Account Manager -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />

    <!-- For Google Wallet and GCM -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- For Google Wallet -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- For Maps V2 -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- For Push Notifications (GCM) -->

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.expedia.bookings.activity.ExpediaBookingApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/launcher_name"
        android:theme="@style/Theme" >

        <!-- ActiveAndroid -->
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="13" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.expedia.bookings.model.Search,com.expedia.bookings.model.DismissedItinButton,com.expedia.bookings.notification.Notification" />

        <!-- Google Maps -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/mapsv2_key" />

        <!-- Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Crashlytics -->
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="045825b17e2b00aa0dde8ba0dcea1ad63801d612" />

        <!-- Make sure activity uses full path, i.e. com.expedia.bookings.activity.* -->

        <!-- Our main launcher activity -->

        <activity
            android:name="com.expedia.bookings.activity.RouterActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"/>
        <activity-alias
            android:name="com.expedia.bookings.activity.SearchActivity"
            android:targetActivity="com.expedia.bookings.activity.RouterActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Tablet -->

        <activity
            android:name="com.expedia.bookings.activity.TabletLaunchActivity"
            android:theme="@style/V2.Theme.Activity.TabletLaunch"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.expedia.bookings.activity.TabletResultsActivity"
            android:theme="@style/V2.Theme.Activity.TabletResults"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.expedia.bookings.activity.TabletCheckoutActivity"
            android:theme="@style/V2.Theme.Activity.TabletCheckout"
            android:windowSoftInputMode="adjustResize" />

        <!-- Phone launch -->

        <activity
            android:name="com.expedia.bookings.activity.PhoneLaunchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme" />

        <!-- Itineraries -->

        <activity
            android:name="com.expedia.bookings.activity.ItineraryActivity"
            android:exported="true"
            android:label="@string/trips"
            android:launchMode="singleTop"
            android:theme="@style/ItineraryTheme" />
        <activity
            android:name="com.expedia.bookings.activity.ItineraryGuestAddActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.expedia.bookings.activity.TerminalMapActivity"
            android:label="@string/Terminal_Map"
            android:theme="@style/TerminalMapTheme" />
        <activity
            android:name="com.expedia.bookings.activity.StandaloneShareActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.expedia.bookings.activity.FacebookShareActivity"
            android:icon="@drawable/ic_share_facebook"
            android:label="@string/Facebook" >
        </activity>

        <!-- Hotels activities -->

        <activity
            android:name="com.expedia.bookings.activity.HotelSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Phone.HotelSearchActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.expedia.bookings.activity.HotelDetailsFragmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Phone" />
        <activity
            android:name="com.expedia.bookings.activity.HotelMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Phone" />
        <activity
            android:name="com.expedia.bookings.activity.UserReviewsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Phone" />
        <activity
            android:name="com.expedia.bookings.activity.HotelPayLaterInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Phone" />
        <activity
            android:name="com.expedia.bookings.activity.HotelRoomsAndRatesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Phone" />
        <activity
            android:name="com.expedia.bookings.activity.HotelOverviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Phone.Dark"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.expedia.bookings.activity.HotelRulesActivity"
            android:label="@string/legal_information"
            android:theme="@style/Theme.Phone.Rules" />
        <activity
            android:name="com.expedia.bookings.activity.HotelTravelerInfoOptionsActivity"
            android:label="@string/Add_Traveler"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Phone.Dark" />
        <activity
            android:name="com.expedia.bookings.activity.HotelPaymentOptionsActivity"
            android:label="@string/Add_Payment"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Phone.Dark" />
        <activity
            android:name="com.expedia.bookings.activity.HotelBookingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Phone.Dark" />
        <activity
            android:name="com.expedia.bookings.activity.HotelConfirmationActivity"
            android:label="@string/booking_complete"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Phone.Dark" />

        <!-- Flights activities -->

        <activity
            android:name="com.expedia.bookings.activity.FlightSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FlightTheme"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="com.expedia.bookings.activity.FlightSearchResultsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FlightTheme.OverlayMode"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name="com.expedia.bookings.activity.FlightUnsupportedPOSActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FlightTheme" />
        <activity
            android:name="com.expedia.bookings.activity.FlightSearchOverlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FlightTheme.Transparent"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="com.expedia.bookings.activity.FlightTripOverviewActivity"
            android:label="@string/Overview"
            android:screenOrientation="portrait"
            android:theme="@style/FlightTheme.Transparent" />
        <activity
            android:name="com.expedia.bookings.activity.FlightBookingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FlightTheme" />
        <activity
            android:name="com.expedia.bookings.activity.FlightPaymentOptionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FlightTheme.CheckoutForms" />
        <activity
            android:name="com.expedia.bookings.activity.FlightTravelerInfoOptionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FlightTheme.CheckoutForms" />
        <activity
            android:name="com.expedia.bookings.activity.FlightRulesActivity"
            android:label="@string/legal_information"
            android:theme="@style/FlightTheme.Rules" />
        <activity
            android:name="com.expedia.bookings.activity.FlightConfirmationActivity"
            android:label="@string/booking_complete"
            android:screenOrientation="portrait"
            android:theme="@style/FlightTheme" />

        <activity
            android:name="com.expedia.bookings.activity.AccountLibActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/AccountLibTheme"
            android:windowSoftInputMode="adjustResize" />

        <!-- Cars activity -->

        <activity
            android:name="com.expedia.ui.CarActivity"
            android:taskAffinity="com.expedia.bookings.activity.CarActivity"
            android:screenOrientation="portrait"
            android:label="Cars"
            android:theme="@style/V2.Theme.Cars"
            android:windowSoftInputMode="adjustNothing">
        </activity>

        <!-- LX activity -->

        <activity
            android:name="com.expedia.ui.LXBaseActivity"
            android:taskAffinity="com.expedia.bookings.activity.LXBaseActivity"
            android:screenOrientation="portrait"
            android:label="Activities"
            android:theme="@style/V2.Theme.LX"
            android:windowSoftInputMode="adjustNothing">
        </activity>

        <!-- About/Preferences/WebView activities -->

        <activity
            android:name="com.expedia.bookings.activity.AboutActivity"
            android:theme="@style/Theme.Phone.WebView" />
        <activity
            android:name="com.expedia.bookings.activity.ExpediaBookingPreferenceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Phone.Preferences" />
        <activity
            android:name="com.expedia.bookings.activity.TabletPreferenceActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Tablet.Preferences" />
        <activity android:name="com.expedia.bookings.activity.WebViewActivity" />
        <activity android:name="com.expedia.bookings.activity.AboutWebViewActivity" />

        <!-- Login/Facebook activities -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name="com.expedia.bookings.activity.RestrictedProfileActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustPan" />

        <!-- Notifications -->

        <receiver
            android:name="com.expedia.bookings.notification.NotificationReceiver"
            android:exported="false" >
        </receiver>

        <!-- Push Notifications -->

        <service android:name="com.expedia.bookings.notification.GCMIntentService" />

        <receiver
            android:name="com.expedia.bookings.notification.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- Search autocomplete components -->

        <provider
            android:name="com.expedia.bookings.content.AutocompleteProvider"
            android:authorities="@string/authority_autocomplete_hotel"
            android:exported="false" />
        <provider
            android:name="com.expedia.bookings.content.AirportAutocompleteProvider"
            android:authorities="@string/authority_autocomplete_airport"
            android:exported="false" />
        <provider
            android:name="com.expedia.bookings.content.SuggestionProvider"
            android:authorities="@string/authority_autocomplete_suggestions"
            android:exported="false" />

        <!-- Locale change receiver -->

        <receiver
            android:name="com.expedia.bookings.activity.LocaleChangeReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- Tracking -->

        <!-- Google Play Campaign Tracking -->
        <!-- Note: Only the first defined INSTALL_REFERRER BroadcastReceiver receives the Broadcast from the system -->
        <!-- InstallReceiver then broadcasts the message again to reach the other BroadcastReceivers -->

        <receiver
            android:name="com.expedia.bookings.tracking.InstallReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.expedia.bookings.tracking.OmnitureReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- Account Manager -->

        <service android:name="com.expedia.bookings.account.ExpediaAuthenticatationService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/expedia_authenticator" />
        </service>
        <service android:name="com.expedia.bookings.account.AccountSyncService" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/account_sync_adapter" />
        </service>

        <provider
            android:name="com.expedia.bookings.account.AccountSyncContentProvider"
            android:authorities="@string/authority_account_sync"
            android:exported="false" />

        <receiver android:name="com.expedia.bookings.account.AccountsChangedBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" >
                </action>
            </intent-filter>
        </receiver>

        <!-- Google Wallet optimization -->

        <receiver
            android:name="com.google.android.gms.wallet.EnableWalletOptimizationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.wallet.ENABLE_WALLET_OPTIMIZATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
