<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.expedia.bookings"
    android:versionCode="12"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="13" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.expedia.bookings.activity.ExpediaBookingApp"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme" >
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="6" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".activity.SearchActivity"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PhoneSearchActivity" />
        <activity
            android:name=".activity.SearchFragmentActivity"
            android:theme="@style/Theme.Tablet.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SearchResultsFragmentActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Tablet"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.HotelGalleryActivity"
            android:theme="@style/Theme.Tablet.Dark" />
        <activity
            android:name=".activity.BookingFragmentActivity"
            android:theme="@style/Theme.Tablet"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.ConfirmationFragmentActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.HotelActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.HotelMapActivity" />
        <activity android:name=".activity.UserReviewsListActivity" />
        <activity
            android:name=".activity.TabletUserReviewsListActivity"
            android:theme="@style/Theme.Light.Fullscreen.Panel" />
        <activity android:name=".activity.RoomsAndRatesListActivity" />
        <activity android:name=".activity.BookingInfoActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.TabletAboutActivity" />
        <activity android:name=".activity.ExpediaBookingPreferenceActivity" />
        <activity android:name=".activity.SignInActivity" />
        <activity
            android:name=".activity.TabletPreferenceActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" />
        <activity
            android:name=".activity.AppFeedbackActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.opinionlab.oo.sdk.android.CommentCardActivity" />
        <activity
            android:name="com.expedia.bookings.appwidget.ExpediaBookingsWidgetConfigurationActivity"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- HockeyApp -->
        <activity android:name="net.hockeyapp.android.UpdateActivity" />

        <service
            android:name="com.expedia.bookings.appwidget.ExpediaBookingsService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.expedia.bookings.START_SEARCH" />
                <action android:name="com.expedia.bookings.START_CLEAN_SEARCH" />
                <action android:name="com.expedia.bookings.LOAD_PROPERTY" />
                <action android:name="com.expedia.bookings.NEXT_PROPERTY" />
                <action android:name="com.expedia.bookings.PREV_PROPERTY" />
                <action android:name="com.expedia.bookings.ROTATE_PROPERTY" />
                <action android:name="com.expedia.bookings.CANCEL_UPDATE" />
            </intent-filter>
        </service>

        <!-- Widget stuff -->
        <receiver
            android:name="com.expedia.bookings.appwidget.ExpediaBookingsWidgetProvider"
            android:enabled="@bool/widgetEnabled" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/eb_appwidget_info" />
        </receiver>

        <!-- Search stuff -->
        <provider
            android:name="com.expedia.bookings.content.AutocompleteProvider"
            android:authorities="com.expedia.booking.autocomplete" />

        <!-- Boot stuff -->
        <receiver android:name=".activity.LocaleChangeReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- Tracking -->
        <receiver
            android:name="com.expedia.bookings.tracking.MdotmReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.amobee.agency.tracking.AmobeeReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
