<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.expedia.bookings"
    android:versionCode="25"
    android:versionName="3.2.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Account Manager -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />

    <!-- For Google Wallet -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- For Maps V2 -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.expedia.bookings.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.expedia.bookings.permission.MAPS_RECEIVE" />

    <!-- For Push Notifications (GCM) -->

    <permission
        android:name="com.expedia.bookings.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.expedia.bookings.permission.C2D_MESSAGE" />

    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.expedia.bookings.activity.ExpediaBookingApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme" >

        <!-- ActiveAndroid -->
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="13" />
        <meta-data
            android:name="AA_MODELS"
            android:value=".model.Search, .model.DismissedItinButton, .model.WidgetConfigurationState, .data.ExpediaImage, .notification.Notification" />

        <!-- Google Maps -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/mapsv2_key" />

        <!-- Ad-X -->
        <meta-data
            android:name="APP_NAME"
            android:value="com.expedia.bookings" />
        <meta-data
            android:name="ADX_CLIENT_ID"
            android:value="exped2345789jo" />
        <meta-data
            android:name="NOMACADDRESS"
            android:value="ON" />

        <!-- Make sure activity uses full path, i.e. com.expedia.bookings.activity.* -->

        <activity
            android:name="com.expedia.bookings.activity.SearchActivity"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.expedia.bookings.activity.SweepstakesActivity"
            android:theme="@style/Theme.Phone.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.expedia.bookings.activity.PhoneSearchActivity"
            android:theme="@style/Theme.Phone"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.expedia.bookings.activity.SearchFragmentActivity"
            android:theme="@style/Theme.Tablet.Launcher"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.expedia.bookings.activity.SearchResultsFragmentActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Tablet"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.expedia.bookings.activity.HotelGalleryActivity"
            android:theme="@style/Theme.Tablet.Dark" />
        <activity
            android:name="com.expedia.bookings.activity.RoomsAndRatesFragmentActivity"
            android:theme="@style/Theme.Tablet"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.expedia.bookings.activity.HotelConfirmationActivity"
            android:label="@string/booking_complete"
            android:theme="@style/Theme.Phone.Dark" />
        <activity
            android:name="com.expedia.bookings.activity.HotelDetailsFragmentActivity"
            android:theme="@style/Theme.Phone" />
        <activity
            android:name="com.expedia.bookings.activity.HotelMapActivity"
            android:theme="@style/Theme.Phone" />
        <activity
            android:name="com.expedia.bookings.activity.UserReviewsListActivity"
            android:theme="@style/Theme.Phone" />
        <activity
            android:name="com.expedia.bookings.activity.TabletUserReviewsListActivity"
            android:theme="@style/Theme.Light.Fullscreen.Panel" />
        <activity
            android:name="com.expedia.bookings.activity.RoomsAndRatesListActivity"
            android:theme="@style/Theme.Phone" />
        <activity
            android:name="com.expedia.bookings.activity.HotelOverviewActivity"
            android:theme="@style/Theme.Phone.Dark"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.expedia.bookings.activity.HotelRulesActivity"
            android:theme="@style/FlightTheme" />
        <activity android:name="com.expedia.bookings.activity.WebViewActivity" />
        <activity android:name="com.expedia.bookings.activity.AboutWebViewActivity" />
        <activity
            android:name="com.expedia.bookings.activity.TextViewActivity"
            android:theme="@style/Theme.Phone" />
        <activity
            android:name="com.expedia.bookings.activity.HotelTravelerInfoOptionsActivity"
            android:label="@string/Add_Traveler"
            android:theme="@style/Theme.Phone.Dark" />
        <activity
            android:name="com.expedia.bookings.activity.HotelPaymentOptionsActivity"
            android:label="@string/Add_Payment"
            android:theme="@style/Theme.Phone.Dark" />
        <activity
            android:name="com.expedia.bookings.activity.HotelBookingActivity"
            android:theme="@style/Theme.Phone.Dark" />
        <activity
            android:name="com.expedia.bookings.activity.AboutActivity"
            android:theme="@style/Theme.Phone.WebView" />
        <activity
            android:name="com.expedia.bookings.activity.ExpediaBookingPreferenceActivity"
            android:theme="@style/Theme.Phone.Preferences" />
        <activity
            android:name="com.expedia.bookings.activity.TabletPreferenceActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Tablet.Preferences" />
        <activity
            android:name="com.expedia.bookings.activity.AppFeedbackActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.opinionlab.oo.sdk.android.CommentCardActivity" />

        <!-- Expedia Flights -->

        <activity
            android:name="com.expedia.bookings.activity.LaunchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme" >
        </activity>
        <activity
            android:name="com.expedia.bookings.activity.FlightSearchActivity"
            android:label="@string/Expedia_Flights"
            android:theme="@style/FlightTheme"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        <activity
            android:name="com.expedia.bookings.activity.FlightSearchResultsActivity"
            android:theme="@style/FlightTheme.OverlayMode"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name="com.expedia.bookings.activity.FlightUnsupportedPOSActivity"
            android:theme="@style/FlightTheme" />
        <activity
            android:name="com.expedia.bookings.activity.FlightSearchOverlayActivity"
            android:theme="@style/FlightTheme.Transparent"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="com.expedia.bookings.activity.FlightTripOverviewActivity"
            android:label="@string/Overview"
            android:theme="@style/FlightTheme.Transparent" >
        </activity>
        <activity
            android:name="com.expedia.bookings.activity.FlightBookingActivity"
            android:theme="@style/FlightTheme" />
        <activity
            android:name="com.expedia.bookings.activity.FlightPaymentOptionsActivity"
            android:theme="@style/FlightTheme.CheckoutForms" >
        </activity>
        <activity
            android:name="com.expedia.bookings.activity.FlightTravelerInfoOptionsActivity"
            android:theme="@style/FlightTheme.CheckoutForms" >
        </activity>
        <activity
            android:name="com.expedia.bookings.activity.FlightRulesActivity"
            android:theme="@style/FlightTheme" >
        </activity>
        <activity
            android:name="com.expedia.bookings.activity.FlightConfirmationActivity"
            android:label="@string/booking_complete"
            android:theme="@style/FlightTheme" />

        <!-- Login/Facebook -->
        <activity
            android:name="com.expedia.bookings.activity.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.facebook.LoginActivity" >
        </activity>

        <!-- Itineraries -->
        <activity
            android:name="com.expedia.bookings.activity.ItineraryActivity"
            android:label="@string/trips"
            android:launchMode="singleTop"
            android:theme="@style/ItineraryTheme" />
        <activity
            android:name="com.expedia.bookings.activity.ItineraryGuestAddActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.expedia.bookings.activity.TerminalMapActivity"
            android:label="@string/Terminal_Map"
            android:theme="@style/TerminalMapTheme" />
        <activity
            android:name="com.expedia.bookings.activity.StandaloneShareActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.expedia.bookings.activity.LocalExpertActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme" />

        <!-- Testing -->
        <activity android:name=".test.activity.CalendarDatePickerTestActivity" />
        <activity
            android:name="com.expedia.bookings.activity.StubConfigActivity"
            android:theme="@style/Theme.Phone" />

        <service
            android:name="com.expedia.bookings.appwidget.ExpediaBookingsService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.expedia.bookings.START_SEARCH" />
                <action android:name="com.expedia.bookings.START_CLEAN_SEARCH" />
                <action android:name="com.expedia.bookings.LOAD_PROPERTY" />
                <action android:name="com.expedia.bookings.NEXT_PROPERTY" />
                <action android:name="com.expedia.bookings.PREV_PROPERTY" />
                <action android:name="com.expedia.bookings.ROTATE_PROPERTY" />
                <action android:name="com.expedia.bookings.CANCEL_UPDATE" />
            </intent-filter>
        </service>

        <!-- Widget stuff -->
        <receiver
            android:name="com.expedia.bookings.appwidget.ExpediaBookingsWidgetProvider"
            android:enabled="@bool/widgetEnabled" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/eb_appwidget_info" />
        </receiver>

        <!-- Notifications -->
        <receiver
            android:name="com.expedia.bookings.notification.NotificationReceiver"
            android:exported="false" >
        </receiver>

        <!-- Push Notifications -->
        <service android:name="com.expedia.bookings.notification.GCMIntentService" />

        <receiver
            android:name="com.expedia.bookings.notification.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.expedia.bookings" />
            </intent-filter>
        </receiver>

        <!-- Search stuff -->
        <provider
            android:name="com.expedia.bookings.content.AutocompleteProvider"
            android:authorities="@string/authority_autocomplete_hotel"
            android:exported="false" />
        <provider
            android:name="com.expedia.bookings.content.AirportAutocompleteProvider"
            android:authorities="@string/authority_autocomplete_airport"
            android:exported="false" />

        <!-- Boot stuff -->
        <receiver
            android:name="com.expedia.bookings.activity.LocaleChangeReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.expedia.bookings.action.locale_changed" />
            </intent-filter>
        </receiver>

        <!-- Tracking -->

        <receiver
            android:name="com.expedia.bookings.activity.PosChangedReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.expedia.bookings.action.pos_changed" />
            </intent-filter>
        </receiver>

        <!-- Google Play Campaign Tracking -->
        <!-- Note: Only the first defined INSTALL_REFERRER BroadcastReceiver receives the Broadcast from the system -->
        <!-- InstallReceiver then broadcasts the message again to reach the other BroadcastReceivers -->

        <receiver
            android:name="com.expedia.bookings.tracking.InstallReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.AdX.tag.AdXAppTracker"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.expedia.bookings.tracking.OmnitureReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- Account Manager -->
        <service android:name="com.expedia.bookings.account.ExpediaAuthenticatationService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/expedia_authenticator" />
        </service>
        <service android:name="com.expedia.bookings.account.AccountSyncService" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/account_sync_adapter" />
        </service>

        <provider
            android:name="com.expedia.bookings.account.AccountSyncContentProvider"
            android:authorities="@string/authority_account_sync"
            android:exported="false" />

        <receiver android:name="com.expedia.bookings.account.AccountsChangedBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>
