<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.expedia.bookings" >

    <application>

        <receiver
            android:name="com.expedia.bookings.activity.VSCLocaleChangeReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.expedia.bookings.action.vsc_locale_changed" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
