<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application>

        <!-- Deep link routing activity -->
        <activity
            android:name="com.expedia.bookings.activity.DeepLinkRouterActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTask" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="e.xpda.co" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="expda" />
                <data android:host="home" />
                <data android:host="trips" />
                <data android:host="showTrips" />
                <data android:host="hotelSearch" />
                <data android:host="flightSearch" />
                <data android:host="destination" />
                <data android:host="carSearch"/>
                <data android:host="activitySearch"/>
                <data android:host="signIn"/>
                <data android:host="supportEmail"/>
                <data android:host="forceBucket"/>

                <!-- We will handle iOS implementation of ItinSharing as well, just cause we can -->
                <data android:host="addSharedItinerary" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:pathPrefix="/activitySearch"/>
                <data android:pathPrefix="/m/trips/shared"/>
                <data android:pathPrefix="/mobile/deeplink"/>
                <data android:pathPrefix="/mobile/deeplink/trips"/>
                <data android:pathPrefix="/mobile/deeplink/Hotel-Search"/>
                <data android:pathPrefix="/mobile/deeplink/Flights-Search"/>
                <data android:pathPrefix="/mobile/deeplink/carsearch"/>
                <data android:pathPrefix="/mobile/deeplink/things-to-do/search"/>
                <data android:pathPrefix="/mobile/deeplink/user/signin"/>
                <data android:host="www.expedia.com" />
                <data android:host="www.expedia.com.ar" />
                <data android:host="www.expedia.at" />
                <data android:host="www.expedia.com.au" />
                <data android:host="www.expedia.be" />
                <data android:host="www.expedia.com.br" />
                <data android:host="www.expedia.ca" />
                <data android:host="www.expedia.de" />
                <data android:host="www.expedia.dk" />
                <data android:host="www.expedia.es" />
                <data android:host="www.expedia.fr" />
                <data android:host="www.expedia.co.uk" />
                <data android:host="www.expedia.com.hk" />
                <data android:host="www.expedia.co.id" />
                <data android:host="www.expedia.ie" />
                <data android:host="www.expedia.co.in" />
                <data android:host="www.expedia.it" />
                <data android:host="www.expedia.co.jp" />
                <data android:host="www.expedia.co.kr" />
                <data android:host="www.expedia.mx" />
                <data android:host="www.expedia.com.my" />
                <data android:host="www.expedia.nl" />
                <data android:host="www.expedia.no" />
                <data android:host="www.expedia.co.nz" />
                <data android:host="www.expedia.com.ph" />
                <data android:host="www.expedia.se" />
                <data android:host="www.expedia.com.sg" />
                <data android:host="www.expedia.co.th" />
                <data android:host="www.expedia.com.tw" />
                <data android:host="www.expedia.com.vn" />

                <!-- Public integration -->
                <data android:host="70.42.224.37" />

                <!-- Dev Server -->
                <data android:host="wwwexpediacom.tharman.dev.sb.karmalab.net" />

                <!-- Integration Server -->
                <data android:host="wwwexpediacom.integration.sb.karmalab.net" />

                <!-- Trunk Server -->
                <data android:host="wwwexpediacom.trunk.sb.karmalab.net" />
            </intent-filter>

        </activity>

        <!-- Add Tune library receiver -->
        <receiver android:name="com.tune.TuneTracker">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
