<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Used by tests only. Do not include in production apps unless necessary! -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="replace" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="UnusedAttribute">
        <!-- Preferences are only for development purposes -->

        <!-- Google Smart -->
        <meta-data android:name="asset_statements" android:resource="@string/asset_statements" />

        <activity
            android:name="com.expedia.bookings.preference.ExpediaBookingPreferenceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Phone.Preferences"/>

        <activity
            android:name="com.expedia.bookings.activity.PlaygroundActivity"
            android:label="Playground"
            android:taskAffinity="com.expedia.bookings.activity.PlaygroundActivity"
            android:theme="@style/V2.Theme.Packages" />

        <activity android:name="com.expedia.bookings.activity.DebugTextStylesActivity"
            android:label="Core Text Styles"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait">
            <meta-data
                android:name="debug"
                android:value="true" />
        </activity>

        <activity android:name="com.expedia.bookings.activity.FlightMockerActivity"
            android:label="Flight Mocker"
            android:theme="@style/ItinTheme"
            tools:ignore="UnusedAttribute"
            android:screenOrientation="portrait">
        <meta-data
            android:name="debug"
            android:value="true" />
        </activity>

        <activity android:name="com.expedia.bookings.activity.HotelMocker"
            android:label="Hotel Mocker"
            android:theme="@style/ItinTheme"
            tools:ignore="UnusedAttribute"
            android:screenOrientation="portrait">
            <meta-data
                android:name="debug"
                android:value="true" />
        </activity>

        <activity android:name="com.expedia.bookings.activity.NotificationMockerActivity"
            android:label="Notification Mocker"
            android:theme="@style/ItinTheme"
            tools:ignore="UnusedAttribute"
            android:screenOrientation="portrait">
        <meta-data
            android:name="debug"
            android:value="true" />
        </activity>

        <activity android:name="com.expedia.bookings.activity.DebugColorPaletteActivity"
            android:label="Core Color Palette"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait">
            <meta-data
                android:name="debug"
                android:value="true" />
        </activity>

        <activity android:name="com.expedia.bookings.hotel.activity.HotelSearchActivity"
            android:label="Activity Hotel Path"
            android:theme="@style/Theme.Hotels.Default"
            android:screenOrientation="portrait">
            <meta-data
                android:name="debug"
                android:value="true" />
        </activity>

        <activity android:name="com.expedia.bookings.hotel.activity.HotelResultsActivity"
            android:label="Activity Hotel Path"
            android:theme="@style/Theme.Hotels.Default"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.expedia.bookings.hotel.activity.HotelDetailsActivity"
            android:label="Activity Hotel Path"
            android:theme="@style/Theme.Hotels.Default"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.expedia.bookings.hotel.activity.HotelReviewsActivity"
            android:label="Activity Hotel Path"
            android:theme="@style/Theme.Hotels.Default"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.expedia.bookings.deeplink.DeepLinkTestActivity"
            android:exported="true"
            android:label="DeepLink Tester"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="debug"
                android:value="true" />
        </activity>
    </application>

</manifest>
