<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.expedia.bookings.test"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <instrumentation android:name="com.expedia.bookings.test.espresso.InstrumentationTestRunner">
        <meta-data
            android:name="listener"
            android:value="com.expedia.bookings.test.espresso.JUnitTestRunListener" />
    </instrumentation>
</manifest>