<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application>

        <meta-data
            android:name="APP_NAME"
            android:value="com.cheaptickets" />

        <!-- Deep link routing activity -->
        <activity
            android:name="com.expedia.bookings.activity.DeepLinkRouterActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTask" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="c.hptk.us" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="hptk" />
                <data android:host="home" />
                <data android:host="trips" />
                <data android:host="showTrips" />
                <data android:host="hotelSearch" />
                <data android:host="flightSearch" />
                <data android:host="carSearch"/>
                <data android:host="activitySearch"/>
                <data android:host="signIn"/>
                <data android:host="supportEmail"/>
                <data android:host="reviewFeedbackEmail"/>
                <data android:host="packageSearch"/>

                <!-- We will handle iOS implementation of ItinSharing as well, just cause we can -->
                <data android:host="addSharedItinerary" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:pathPrefix="/activitySearch"/>
                <data android:pathPrefix="/m/trips/shared"/>
                <data android:pathPrefix="/mobile/deeplink"/>

                <data android:host="www.cheaptickets.com" />

                <!-- Integration Server -->
                <data android:host="wwwcheapticketscom.integration.sb.karmalab.net" />

                <!-- Trunk Server -->
                <data android:host="wwwcheapticketscom.trunk.sb.karmalab.net" />
            </intent-filter>
        </activity>

        <!-- Add Tune library receiver -->
        <receiver android:name="com.tune.TuneTracker">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
